sudo: false
language: python
python:
- '2.7'
- '3.4'
- '3.5'
- '3.6'
install:
- pip install -U -r requirements.txt
- pip install -U -r test-requirements.txt
- pip install codacy-coverage
script: py.test -v --cov=swimlane --cov-report=xml
after_script: python-codacy-coverage -r coverage.xml
before_deploy: python offline_installer/build_installer.py
deploy:
- provider: releases
  api_key:
    secure: cJWvvnIxF67OgjUfpahgLbsQC/XEjgwkX1Ohb32FY9rhKEJcqjU46+31N9vGKkPMFi42K0/lrfuM6w9oCiM4IyOM3y8AGro5XoMwyIMBvglyS0HHPF5gVNu+WLj4M2Zx47MechgHcAxqw8NMYMqxIIx5vBzHabWnMt2Z16Q9r4olcwBxzLqJHowchACU9XIY9EH+i3OonDRdyUScAQq1aw4BJfkdZKy3KUl3H2/yyRlJmhLHJ6/XaypWrdPCprs65Rtfw20M7bDa2+EJLq3GkzBYflWvW2qYYcJoZZUD3YnqApEgxkPtaYF+Wt6sjENiqHEyrOxA0OVapbLskm8aN66lFRr/n/7WeJaPPaN39Qs2ToVBH5AYLiq2id+/9sq0tM35XolM7bFrIB8tad2u/0+uWnt7E+g/26b0KFLRX0ReZGBL+zHYTM2AGlkpUZpKlaGlUd7HNbdTUjBnQYMeGA/O/QJ0ExPRjRjdDw/VZrW6zk83ynqAg5qmpNV/tG/oTj4h/e7yfMvJpDuFZ8DkVs9RRdnY462AOToby6oooM+b012fY9UykMgfcEXeq4YNiUnvdsmNXFGyv0s+/VvIZdcl6QGNV8dy//qLUdhQ3s59AI4Q4YxH318pkoQDEl7kxbSvcf5dkE7W29/6SUulPc4+2hK5cmQcddPASsHmrNY=
  file_glob: true
  file: dist/*offline-installer*
  skip_cleanup: true
  on:
    tags: true
    repo: swimlane/swimlane-python
- provider: pypi
  user: swimlane
  distributions: sdist bdist_wheel
  password: $PIP_PASSWORD
  skip_cleanup: true
  on:
    tags: true
    repo: swimlane/swimlane-python
    # Package uploaded is universal for Python 2 and 3, just only push to pip during one version build cycle
    condition: $TRAVIS_PYTHON_VERSION = '2.7'
- provider: s3
  edge: true
  region: $S3_REGION
  access_key_id: $S3_ACCESS_KEY
  secret_access_key: $S3_SECRET_KEY
  bucket: $S3_BUCKET
  upload_dir: python_driver/mntest/10.1.2
  local_dir: dist
  on:
    #tags: true
    branch: SPT-5882_make_travis_build_upload_to_s3
    repo: swimlane/swimlane-python
    condition: $TRAVIS_PYTHON_VERSION = '2.7'
    