coverage
mock
faker
pytest==6.2.5; python_version == '3.6'
pytest==7.4.4; python_version == '3.7'
pytest==8.2.2; python_version >= '3.8'
pytest-cov==3.0.0; python_version == '3.6'
pytest-cov==4.1.0; python_version == '3.7'
pytest-cov==5.0.0; python_version >= '3.8'
pytest-pythonpath
tox
pytz
pathlib
