# This workflow is responsible for publishing  packages to PyPi
name: "PublishOnTag"

on:
  push:
    tags: ['v*']

jobs:
  publish:
    name: Publish to PyPi
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.6
      - run: |
          python -m pip install --upgrade pip setuptools
          python -m pip install wheel
      - name: Build
        run: python setup.py sdist bdist_wheel
      - name: Publish PyPi
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: twine upload dist/*

